jupyterlab
notebook
ipykernel
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
torch
transformers
datasets
sentencepiece
accelerate
rouge-score
peft
trl
sentence-transformers
safetensors
gradio
